<div class="bgimg-1">
  <div class="caption">
   <form class="navbar-form navbar-center">
       <h1 style="padding-bottom: 46px; font-family:monospace; font-size: 51px;">Delivers food in minutes</h1>
         <div class="input-group col-sm-4" style="width:70% ; font-size: 30px;">
             <input type="text" class="form-control" placeholder="Recipient's username" style="height:52px; font-size:30px; border-radius:10px;position:relative"  aria-describedby="basic-addon2">
            
        </div>  
      
   </form>
	
   
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;height:600px;text-align: justify">

  <h1 style="text-align:center; color:green">Indian Food everywhere</h1><br>
  <div class="col-xs-12">
<div id="section1" class="container-fluid">
 <div id="step1" class="col-xs-4" style="height:425px;text-align:center; padding:20px">
  

  <span class="glyphicon glyphicon-map-marker" style="font-size:75px;color:black; padding-top:20px; "></span>
 <h4><b>1. Enter your address</b></h4><br>
 <p align="justify" style="line-height:30px ;font-weight:bold ;font-size:20px">Use our search box to discover local restaurants. DesiDine2Go searches its network of delivery restaurants, and shows you a list of restaurants 
 that deliver to you. Delivery to your home, office or campus, or wherever you may be. </p>
</div>
<div id="step2" class="col-xs-4"style="height:425px;text-align:center; border-style:solid;border-color:bisque;border-width: 0px 1px; padding:20px">
  <span class="glyphicon glyphicon-menu-hamburger" style="font-size:75px;color:black; padding-top:20px"></span>
  <h4><b>2. Choose your restaurant</b></h4><br>
  <p align="justify" style="line-height:30px;font-weight:bold ;font-size:20px">Browse food delivery and restaurants menus, read reviews, and enjoy coupons and discounts. You can choose your favourite restaurant, by their distance from you, rating or by reviews left by other customers.</p>
  
 <br> <button type="button" class="btn btn-success btn-lg">Order here</button>
  
</div>
<div id="step3" class="col-xs-4"style="height:425px;text-align:center; padding:20px">
  <span class="glyphicon glyphicon-cutlery" style="font-size:75px;color:black; padding-top:20px"></span>
  <h4><b>3. Order your food, Enjoy!</b></h4><br>
  <p align="justify" style="line-height:30px;font-weight:bold ;font-size:20px">View the menu, choose delicious items you like and place your order online. It's as easy as one, two, three! This is much better than ordering over the phone. Like we always say, "Don't be on hold, be online." </p>
  </div>
</div>  

</div>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
  </div>
  
</div>

<div id="phoneImg">
  <img src="">
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:white;text-align:center;padding:50px 80px;height:500px;text-align: justify; padding-left:700px">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img class="d-block w-100" src="http://mehfilbestcuisine.com/wp-content/uploads/2015/12/Featured-image-indian-food.jpg" style="height: 429px; width:100%" alt="First slide">
    </div>
    <div class="item">
      <img class="d-block w-100" src="http://www.freestockphotos.name/wallpaper-original/wallpapers/pictures-of-food-in-india-7028.jpg" style="height: 429px; width:100%" alt="Second slide">
    </div>
    <div class="item">
      <img class="d-block w-100" src="http://www.freestockphotos.name/wallpaper-original/wallpapers/pictures-of-food-in-india-7028.jpg" style="height: 429px; width:100%" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
   
</div>

<!--<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
    <div class="img1"><img src ="http://static1.uk.businessinsider.com/image/57625a769105844d018c9686-800/9%20recieve%20an%20notification%20when%20your%20food%20has%20arrived.png" width:"200px" height:"400px"></div>

</div>-->

<!--<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div>-->
 <div id="footer" style="background-color: black">
            <div class="container">
                <div class="footer_sub">
                    <h3>Our Story</h3>
                   
                </div>
                <div class="footer_sub_2">
                    <div class="container">
                      <div class="item1">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Deals</a></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                      <div class="item2">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Deals</a></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                </div>
                  </div>
                <div class="footer_sub_2">
                    
                        <h3>Social Links</h3>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Youtube</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                            <li><a href="#">Blogger</a></li>
                            <li><a href="#">Digg</a></li>
                        </ul>
                 
                </div>
                <div class="footer_sub_3">
                    
                        <h2>Subscribe Us</h2>
                        <input type="text" name="subs" placeholder="Write your e-mail" class="subs">
                        <input type="submit" name="submit_btn" value="Subscribe" class="sub_btn">
                        <p class="sub_p">Enter your e-mail id for get notification by us.</p>
                    
                </div>
            </div>
        </div>
